.HeaderTitle {
  text-align: center;
}

.RaggleImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container{
  flex-direction: row;
  flex-flow: column;
  justify-content: center;
}

.item{
  flex: 1;
}
.raggleTitle{
  text-align: center;
}
.card-deck{
  justify-content: center;
  margin-left: 20;
  margin-right: 20;
}
